@page "/"

<PageTitle>Главная</PageTitle>

<div style="text-align: center;" >
    <MudText Typo="Typo.h4"><MudImage Src="drivingschool.png" Style="position: relative;top: 30px; width: 80px;height: 80px;"/>втошкола</MudText>
</div>