@using DrivingSchool.Domain.Constants
@inject NavigationManager NavigationManager;

<AuthorizeView>
    <Authorized>
        <div class="d-flex gap-4" style="align-items: center;justify-content: center;">
            <a class="appbar" href="Cabinet">
                <UserAvatar ImageId="topbar-avatar" BackgroundColor="Color.Secondary"/>
            </a>
            <a style="cursor:pointer;" class="appbar" @onclick="() => Logout()">Выйти</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex gap-4">
            <a class="appbar" href="/login">Войти</a>
        </div>
    </NotAuthorized>
</AuthorizeView>
<style>
  a.appbar { color: white; }
</style>

@code {

    private void Logout()
    {
        NavigationManager.NavigateTo("/logout", true);
    }

}