@inject NavigationManager NavigationManager;


<AuthorizeView>
    <Authorized>
        <div class="d-flex gap-4">
            <a href="Cabinet">Hello, @context.User.Identity?.Name!</a>
            <button type="submit" class="nav-link btn btn-link" @onclick="() => Logout()">Log out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="RegistrationPage">Register</a>
        <a href="LoginPage">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {

    private void Logout()
    {
        NavigationManager.NavigateTo("/logout", true);
    }

}