@inject NavigationManager NavigationManager
@inject IUserService UserService

@if (_user is not null)
{
    @_user.Patronymic
}
else
{
    <div style="transform: translateY(25%); text-align: center">
        <MudProgressCircular Style="width: 40%; height: 40%;" Color="Color.Primary" Indeterminate="true"/>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }   
    
    [Parameter]
    public bool CanEdit { get; set; }    
    
    [Parameter]
    public string? Login { get; set; }

    private User? _user;

    protected override async Task OnInitializedAsync()
    {
        if (Login is not null)
            _user = await UserService.GetUserByLoginAsync(Login);
        else
            _user = await UserService.GetUserByIdAsync(Id);
    }
}
